<launch>
    <!-- RViz with shadow robot -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find uchile_grasp_generator)/config/test.rviz" />

    <!-- Verbose mode -->
    <arg name="verbose" default="false" />
    <arg unless="$(arg verbose)" name="command_args" value="" />
    <arg     if="$(arg verbose)" name="command_args" value="--verbose" />

    <!-- Cargar modelo con TF-->
    <include file="$(find uchile_tf)/launch/tf_model.launch">
        <arg name="use_gui" value="true" />
        <arg name="model_type" value="standard" />
    </include>

    <!-- Load SRDF and other MoveIt configuration files on the param server -->
    <include file="$(find bender_moveit_config)/launch/planning_context.launch">
        <arg name="load_robot_description" value="false"/>
    </include>
    
    <!-- Grasp generator node -->
    <node pkg="uchile_grasp_generator" type="test_grasp_filter" name="test_grasp_filter" output="screen" >
        <param name="arm" value="l_arm"/>
        <param name="ee_name" value="l_gripper"/>
        <rosparam command="load" file="$(find uchile_grasp_generator)/config/bender_grasp_generator.yaml" />
    </node>

</launch>
