<launch>
  <node pkg="bender_arm_control" type="motor_monitor.py" name="l_arm_error_monitor" output="screen">
    <param name="monitor_type" value="error" />
    <param name="rate" value="10.0" />
    <rosparam param="motor_ids">[1,2,3,4,5,6]</rosparam>
    <rosparam param="motor_names">['sp','sy','sp','ep','ey','wp']</rosparam>
    <remap from="motor_states" to="/bender/motor_states/l_port"/>
 </node>
 <node pkg="bender_arm_control" type="motor_monitor.py" name="l_arm_load_monitor" output="screen">
    <param name="monitor_type" value="load" />
    <param name="rate" value="10.0" />
    <rosparam param="motor_ids">[1,2,3,4,5,6]</rosparam>
    <rosparam param="motor_names">['sp','sy','sp','ep','ey','wp']</rosparam>
    <remap from="motor_states" to="/bender/motor_states/l_port"/>
 </node>
</launch>