
<launch>
  <!-- both, r_arm, l_arm-->
  <arg name="use_arm" default="l_arm" />
  <!-- Model type -->
  <arg name="model_type" default="standard" />



  <!-- By default, we do not start a database (it can be large) -->
  <arg name="db" default="false" />
  <!-- Allow user to specify database location -->
  <arg name="db_path" default="$(find bender_moveit_config)/default_warehouse_mongo_db" />

  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />



  <!-- MoveIt move_group --> 
  <include file="$(find bender_moveit_config)/launch/bender_moveit.launch">
    <arg name="use_gui" value="true"/>
    <arg name="use_arm" value="$(arg use_arm)" />
    <arg name="model_type" value="$(arg model_type)" />
  </include>




  <!-- If database loading was enabled, start mongodb as well -->
  <include file="$(find bender_moveit_config)/launch/default_warehouse_db.launch" if="$(arg db)">
    <arg name="moveit_warehouse_database_path" value="$(arg db_path)"/>
  </include>

  <rosparam ns="move_group" command="load" file="$(find hb_workspace_analysis)/config/bender_workspace_analysis.yaml" />


  
  <!-- Capa de servicios de planning, integra para ambos brazos -->
  <node name="arm_planning" pkg="bender_arm_control" type="bender_planning" output="screen">
    <rosparam command="load" file="$(find bender_arm_control)/config/grasp_data.yaml"/>
  </node>

</launch>
